@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  color-scheme: light;
}

/* Scrollbar suave */
*::-webkit-scrollbar{width:10px;height:10px}
*::-webkit-scrollbar-thumb{background:rgba(0,0,0,.15);border-radius:999px}
*::-webkit-scrollbar-track{background:transparent}
